[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    dist,
    build,
    chronoqueue/api/common,
    chronoqueue/api/google,
    chronoqueue/api/message,
    chronoqueue/api/queue,
    chronoqueue/api/queueservice,
    chronoqueue/api/schedule,
    chronoqueue/api/schema
ignore =
    E203,
    E266,
    E501,
    W503,
    W504
per-file-ignores =
    __init__.py:F401
