# ChronoQueue Connection Settings
# 
# If running store-api in dev container connected to chronoqueue_network:
CHRONOQUEUE_HOST=chronoqueue_container
#
# If running store-api on host machine:
# CHRONOQUEUE_HOST=localhost
#
# If using different Docker setup:
# CHRONOQUEUE_HOST=host.docker.internal

CHRONOQUEUE_PORT=9000
FASTAPI_HOST=localhost
FASTAPI_PORT=8000
QUEUE_NAME_STORE_CART=store-cart
QUEUE_NAME_CHECKOUT_CART=checkout-cart
CHECKOUT_QUEUE_EXCLUSIVE_KEY=checkout-worker-1
